*body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.head-all{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
   width: 500px;
 
}
.para-all{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.btn-all{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    gap: 10px;
}
/* this is a header style */
.box-1{
    background: rgba(229, 84, 115, 0.10);
     padding: 100px 200px;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-bottom:0px;
}
img{
    width: 650px;
      height: 800px;
   
      
}

 

