*body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.head-all {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    width: 500px;

}

.para-all {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-all {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    gap: 10px;
    border: none;
}

/* this is a header style */
.box-1 {
    background: rgba(229, 84, 115, 0.10);
    padding: 100px 200px;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-bottom: 0px;
}

img {
    width: 650px;
    height: 800px;

}

/* this is a main- section-1 style */
main{
    margin-top: 250px;
}

/* this is a main section-1 style */

.our {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 25px;
}

.long {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    

}
.continer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.continer img{
    width: 300px;
    height: 400px;
    padding: 2%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin:10px ;
    cursor: pointer;
    transition: 400ms;

}
.tree{
    margin-top: 60px;
}
/* this is a main section-2 style */
.seceknt{
    margin-top: 125px;
}
.Hot-Deal{
    display: flex;
    border-radius: 8px;
   background: rgba(229, 84, 115, 0.05);
    padding: 100px 120px;
    justify-content: center;
    align-items: center;
}
.HOt{
   color: #272727;
  font-size: 40px;
  font-weight: 800;

}
.of{
  color: #E55473;
 font-size: 40px;
 font-weight: 800;

}
.Deal{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;

}
/* this is a main section-3 style */
.thrid{
    margin-top: 200px;
}
.instagram{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.gp{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box img{
    width: 200px;
    height: 300px;
    padding: 2%;
    background: rgba(167, 33, 98, 0.15);
    margin:10px ;
    cursor: pointer;
    transition: 400ms;
}

.forth{

}